# BEGIN REDIRECT HTTPS + WWW
RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.studioomg\.com.br$ [NC]
RewriteRule ^(.*)$ https://www.studioomg.com.br/$1 [L,R=301]
# END REDIRECT HTTPS + WWW

#CACHE CONTROL
ExpiresActive On
ExpiresDefault A0

#1 mounth
<FilesMatch "\.(jpg|jpeg|png|gif|swf|mp4)$">
ExpiresDefault 2629000
</FilesMatch>

#3 hours
<FilesMatch "\.(txt|xml|js|css)$">
ExpiresDefault A10800
</FilesMatch>